# ==================================================
# Environnements / config locale
# ==================================================
venv/
.venv/
.env
.envrc

# ==================================================
# Python
# ==================================================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# ==================================================
# Données volumineuses (DATA)
# ==================================================

human-balance-evaluation-database-1.0.0/
human-balance-evaluation-database-1.0.0.zip